<section id="actions" class="py-2 mb-2">
    <div class="container d-flex justify-content-between">
        <button type="button" class="btn btn-primary" (click)="volverAtras()">     
            <i class="bi bi-arrow-left"></i> Atrás
        </button>  
    </div>

   
</section>
    <div class="container mt-4">
        <!-- Cabecera del curso -->
        <div class="card p-3 mb-3">
            <h2>Curso: {{curso.nombreNivel}} {{curso.nombreCurso}} - {{curso.cursoId}}  - 2025</h2>
            <p><strong>Nivel:</strong> {{curso.nombreNivel}}</p>
            <p><strong>Profesor Jefe:</strong> {{curso.profesorJefe}}</p>
            <button class="btn btn-primary">Editar Curso</button>
        </div>

        <!-- Pestañas -->
        <ul class="nav nav-tabs" id="cursoTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="alumnos-tab" data-bs-toggle="tab" data-bs-target="#alumnos" type="button" role="tab">Alumnos</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="asignaturas-tab" data-bs-toggle="tab" data-bs-target="#asignaturas" type="button" role="tab">Asignaturas</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="horario-tab" data-bs-toggle="tab" data-bs-target="#horario" type="button" role="tab">Horario</button>
            </li>
        </ul>

        <div class="tab-content mt-3" id="cursoTabsContent">
            <!-- Lista de alumnos -->
            <div class="tab-pane fade show active" id="alumnos" role="tabpanel">

                <app-listado-inscritos [cursoId]="curso.cursoId">
                </app-listado-inscritos>
               <br>
               <br>
                <!-- slo perfil admin deberia ver esto -->
   
              <app-listado-postulantes>
              </app-listado-postulantes>
              
                
            </div>
            
            <!-- Lista de asignaturas -->
            <div class="tab-pane fade" id="asignaturas" role="tabpanel">
                <ul class="list-group">
                    <li class="list-group-item">Matemáticas - Prof. Luis Fernández</li>
                    <li class="list-group-item">Lenguaje - Prof. Marta Ríos</li>
                    <li class="list-group-item">Historia - Prof. Pedro Gómez</li>
                </ul>
            </div>

            <!-- Horario -->
            <div class="tab-pane fade" id="horario" role="tabpanel">
                <p>Aquí puedes integrar un calendario interactivo o una tabla con el horario del curso.</p>
            </div>
        </div>
    </div>

