<header id="main-header" class="py-2 header text-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1>
                    <i class="bi bi-gear-fill"></i> Control de Usuarios
                </h1>
            </div>
        </div>
    </div>
</header>



<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 mb-4">
            <app-profesores/>
        </div>
        <div class="col-md-6 mb-4">
            <app-alumnos/>
        </div>
    </div>
</div>