
        <!-- Students Panel -->
        <div class="card">
            <div class="card-header tab-alumnos text-white panel-heading" data-target="studentsList">
                <h3 class="mb-0">
                    <i class="fas fa-user-graduate me-2"></i>Alumnos
                    <i class="fas fa-chevron-down float-end"></i>
                </h3>
            </div>
            <div class="card-body panel-body" id="studentsList">
                <div class="input-group rounded">
                    <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                    <span class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                    </span>
                </div>
                <br>
                <ul class="list-group">
                    <ng-container *ngIf="(alumnos || []).length > 0; else noAlumnos">

                    @for(alumno of alumnos; track alumno){
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{alumno.nombres}} {{alumno.apellidoPaterno}} {{alumno.apellidoMaterno}} 
                        <span class="badge"   [ngClass]="{
                            'bg-success': alumno.estadoID === 3002,
                            'bg-secondary': alumno.estadoID === 3001
                        }">{{alumno.estadoEstudiante}}</span>
          
                        <div>
                            <button class="btn btn-outline-primary btn-sm me-2">
                                <i class="fas fa-eye"></i> ver
                            </button>
                            <button class="btn btn-outline-secondary btn-sm" routerLink="/alumno/editar/{{alumno.alumnoID}}">
                                <i class="fas fa-edit"></i> Editar
                            </button>
                        </div>
                    </li>
                    }
                </ng-container>
                <ng-template #noAlumnos>
                    <div class="alert alert-info" role="alert">
                    Aún no se han registrado alumnos.
                    </div>
                </ng-template>
                </ul>

                <br>
                <a href="#" class="btn btn-primary w-100"
                data-bs-toggle="modal"
                data-bs-target="#agregarAlumnoModal">
                <i class="bi bi-plus-circle"></i> Agregar Alumno
                </a>
            </div>
        </div>
 
 <!-- Modal para Agregar Alumno con Stepper -->
<div class="modal fade" id="agregarAlumnoModal" tabindex="-1" [attr.inert]="isModalOpen ? true : null">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <!-- Encabezado del modal -->
          <div class="modal-header bg-info text-white">
              <h5 class="modal-title">Agregar Alumno</h5>
              <button type="button" #botonCerrar  class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
          </div>

          <!-- Formulario con Stepper -->
          <form #alumnoForm="ngForm" (ngSubmit)="agregar(alumnoForm)">
              <div class="modal-body">
                  <!-- Stepper -->
                  <ul class="nav nav-pills mb-3">
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 1" (click)="setStep(1)">Datos Personales</button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 2" (click)="setStep(2)" [disabled]="!alumno.nombres">Apoderado</button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 3" (click)="setStep(3)" [disabled]="!alumno.apoderado.usuario.nombres">Documentos</button>
                      </li>
                  </ul>
                  
                  <!-- Paso 1: Datos Personales -->
                  <div *ngIf="currentStep === 1">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="rut" class="form-label">Rut</label>
                                <input type="text" name="rut" class="form-control" [(ngModel)]="alumno.rut" required>
                            </div>
                            <div class="col-md-4">
                                <label for="nivel" class="form-label">Nivel</label>
                                <select class="form-select" id="nivelId" name="nivelId" [(ngModel)]="alumno.matricula.nivelId" #nivelId="ngModel" >
                                  @for(nivel of niveles; track nivel){
                                  <option [value]="nivel.nivelId" >{{nivel.descripcion}}</option>
                                }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="nivel" class="form-label">Año Escolar</label>
                                <select class="form-select" id="anioEscolar" name="anioEscolar" [(ngModel)]="alumno.matricula.anioEscolar" #anioEscolar="ngModel"  >
                                  <option [value]="2025" selected>2025</option>
                                  <option [value]="2026" >2026</option>

                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" name="nombres" class="form-control" [(ngModel)]="alumno.nombres" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPaterno" class="form-control" [(ngModel)]="alumno.apellidoPaterno" required>
                            </div>
                        
                            <div class="col-md-6">
                            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellidoMaterno" class="form-control" [(ngModel)]="alumno.apellidoMaterno" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="nombres" class="form-label">Genero</label>

                            <select name="genero" class="form-select" [(ngModel)]="alumno.genero" #genero="ngModel">
                                <option [value]="1">Femenino</option>
                                <option [value]="2">Masculino</option>
                                <option [value]="3">Prefiere No decir</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" name="fechaNacimiento" class="form-control" [(ngModel)]="alumno.fechaNacimiento" required>
                            </div>
                        </div>
                  </div>
                  
                  <!-- Paso 2: Apoderado -->
                  <div *ngIf="currentStep === 2">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="rutApoderado" class="form-label">RUT</label>
                                <input type="text" name="rutApoderado" class="form-control"  [(ngModel)]="alumno.apoderado.rut" required>
                            </div>
                            <div class="col-md-6">
                                <label for="correoApoderado" class="form-label">Correo</label>
                                <input type="email" name="correoApoderado" class="form-control"  [(ngModel)]="alumno.apoderado.usuario.email" required>
                            </div>
                        </div>
                      <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="nombreApoderado" class="form-label">Nombres</label>
                            <input type="text" name="nombreApoderado" placeholder="Ej: Marcela Paz" class="form-control" [(ngModel)]="alumno.apoderado.usuario.nombres" required> </div>
                        <div class="col-md-4">
                            <label for="apellidoPaternoApoderado" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPaternoApoderado" class="form-control" [(ngModel)]="alumno.apoderado.usuario.apellidoPaterno" required> </div>
                        <div class="col-md-4"> 
                            <label for="apellidoMaternoApoderado" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellidoMaternoApoderado" class="form-control" [(ngModel)]="alumno.apoderado.usuario.apellidoMaterno" required>
                        </div>
                       
                      </div>
                      <div class="mb-3">
                        <label for="direccionApoderado" class="form-label">Direccion</label>
                        <input type="text" name="direccionApoderado" class="form-control" [(ngModel)]="alumno.apoderado.direccion" required>
                    </div>
                      <div class="mb-3">
                          <label for="apoderadoTelefono" class="form-label">Teléfono</label>
                          <input type="text" name="apoderadoTelefono" class="form-control" placeholder="+56942009255" [(ngModel)]="alumno.apoderado.telefono" required>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Contrasena</label>
                        <input type="password" name="password" class="form-control"  [(ngModel)]="alumno.apoderado.usuario.passwordHash" required>
                    </div>
                  </div>
                  
                  <!-- Paso 3: Documentos -->
                  <div *ngIf="currentStep === 3">
                      <div class="mb-3">
                          <label for="documentoIdentidad" class="form-label">Documento de Identidad</label>
                          <input type="file" name="documentoIdentidad" class="form-control">
                      </div>
                      <div class="mb-3">
                          <label for="certificadoNacimiento" class="form-label">Certificado de Nacimiento</label>
                          <input type="file" name="certificadoNacimiento" class="form-control">
                      </div>
                  </div>
              </div>

              <!-- Footer del modal con botones de navegación -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-info" (click)="prevStep()" [disabled]="currentStep === 1">Atrás</button>
                  <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="currentStep < 3">Siguiente</button>
                  <button type="submit" class="btn btn-success" *ngIf="currentStep === 3">Guardar</button>
              </div>
          </form>
      </div>
  </div>
</div>
