
        <!-- Students Panel -->
 
            <div class="card">
                <div class="card-header tab-alumnos text-white panel-heading" data-target="studentsList">
                    <h3 class="mb-0">
                        <i class="fas fa-user-graduate me-2"></i>Alumnos
                        <i class="fas fa-chevron-down float-end"></i>
                    </h3>
                </div>
                <div class="card-body panel-body" id="studentsList">
                    <div class="input-group rounded">
                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                        <span class="input-group-text border-0" id="search-addon">
                          <i class="fas fa-search"></i>
                        </span>
                    </div>
                    <br>
                    <ul class="list-group">
                        <ng-container *ngIf="(alumnos || []).length > 0; else noAlumnos">

                        @for(alumno of alumnos; track alumno){
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{alumno.nombre}} - {{alumno.email}}
                            <div>
                                <button class="btn btn-outline-primary btn-sm me-2">
                                    <i class="fas fa-eye"></i> ver
                                </button>
                                <button class="btn btn-outline-secondary btn-sm" routerLink="/alumno/editar/{{alumno.alumnoID}}">
                                    <i class="fas fa-edit"></i> Editar
                                </button>
                            </div>
                        </li>
                        }
                    </ng-container>
                    <ng-template #noAlumnos>
                        <div class="alert alert-info" role="alert">
                        Aún no se han registrado alumnos.
                        </div>
                    </ng-template>
                    </ul>

                    <button class="btn btn-primary mt-3">
                        <i class="fas fa-plus me-2"></i>Agregar alumno
                    </button>
                </div>
            </div>
