<div class="accordion" id="accordionAlumnos">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseDos" aria-expanded="true" aria-controls="collapseDos">
            <i class="fas fa-user-graduate me-2"></i>Alumnos
        </button>
      </h2>
      <div id="collapseDos" class="accordion-collapse collapse show" data-bs-parent="#accordionAlumnos">
        <div class="accordion-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="text-dark"></h2>
            <button class="btn btn-outline-primary btn-sm d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#agregarAlumnoModal">
                <i class="bi bi-plus-circle me-2"></i> Agregar Alumno
            </button>
        </div>
        <div class="table-responsive">
          <table class="table align-middle">
            <thead class="table-light">
              <tr>
                <th>Alumno</th>
                <th>Estado</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="(alumnos || []).length > 0; else noAlumnos">
                <tr *ngFor="let alumno of alumnos.slice((pageAlumnos - 1) * itemsPerPageAlumnos, pageAlumnos * itemsPerPageAlumnos)">
                  <td class="fw-semibold">{{ alumno.apellidoPaterno }} {{ alumno.apellidoMaterno }}, {{ alumno.nombres }}</td>
                  <td>
                    <span class="badge rounded-pill" 
                      [ngClass]="{
                        'bg-success text-white': alumno.estadoID === 3002,
                        'bg-secondary text-white': alumno.estadoID === 3001
                      }">
                      {{ alumno.estadoEstudiante }}
                    </span>
                  </td>
       
                  <td class="text-center">
                    <button class="btn btn-light btn-sm shadow-sm" [routerLink]="['/alumno/ver', alumno.alumnoID]">
                      <i class="fas fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        
        <ng-template #noAlumnos>
          <div class="text-center text-muted py-3">
            <i class="fas fa-info-circle"></i> No hay alumnos registrados.
          </div>
        </ng-template>
        
        
              
              <!-- Controles de paginación -->
              <div class="d-flex justify-content-center align-items-center mt-3">
                <button (click)="prevPageAlumnos()" class="btn btn-outline-primary me-3 rounded-pill" [disabled]="pageAlumnos === 1">
                  <i class="fas fa-chevron-left me-1"></i> Anterior
                </button>
                <span class="text-muted">Página {{ pageAlumnos }} de {{ totalPages() }}</span>
                <button (click)="nextPageAlumnos()" class="btn btn-outline-primary ms-3 rounded-pill" [disabled]="pageAlumnos >= totalPages()">
                  Siguiente <i class="fas fa-chevron-right ms-1"></i>
                </button>
              </div>

        </div>
      </div>
    </div>
  </div>
 
 <!-- Modal para Agregar Alumno con Stepper -->
<div class="modal fade" id="agregarAlumnoModal" tabindex="-1" [attr.inert]="isModalOpen ? true : null">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <!-- Encabezado del modal -->
          <div class="modal-header bg-info text-white">
              <h5 class="modal-title">Agregar Alumno</h5>
              <button type="button" #botonCerrar  class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="cerrarModal()"></button>
          </div>

          <!-- Formulario con Stepper -->
          <form #alumnoForm="ngForm" (ngSubmit)="agregar(alumnoForm)">
              <div class="modal-body">
                  <!-- Stepper -->
                  <ul class="nav nav-pills mb-3">
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 1" (click)="setStep(1)">Datos Personales</button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 2" (click)="setStep(2)" [disabled]="!alumno.nombres">Apoderado</button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 3" (click)="setStep(3)" [disabled]="!alumno.apoderado.usuario.nombres">Documentos</button>
                      </li>
                  </ul>
                  
                  <!-- Paso 1: Datos Personales -->
                  <div *ngIf="currentStep === 1">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="rut" class="form-label">Rut</label>
                                <input type="text" name="rut" class="form-control" [(ngModel)]="alumno.rut" required>
                            </div>
                            <div class="col-md-4">
                                <label for="nivel" class="form-label">Nivel</label>
                                <select class="form-select" id="nivelId" name="nivelId" [(ngModel)]="alumno.matricula.nivelID" #nivelId="ngModel" >
                                  @for(nivel of niveles; track nivel){
                                  <option [value]="nivel.nivelId" >{{nivel.descripcion}}</option>
                                }
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="nivel" class="form-label">Año Escolar</label>
                                <select class="form-select" id="anioEscolar" name="anioEscolar" [(ngModel)]="alumno.matricula.anioEscolar" #anioEscolar="ngModel"  >
                                  <option [value]="2025" selected>2025</option>
                                  <option [value]="2026" >2026</option>

                                </select>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" name="nombres" class="form-control" [(ngModel)]="alumno.nombres" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPaterno" class="form-control" [(ngModel)]="alumno.apellidoPaterno" required>
                            </div>
                        
                            <div class="col-md-6">
                            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellidoMaterno" class="form-control" [(ngModel)]="alumno.apellidoMaterno" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="nombres" class="form-label">Genero</label>

                            <select name="genero" class="form-select" [(ngModel)]="alumno.genero" #genero="ngModel">
                                <option [value]="1">Femenino</option>
                                <option [value]="2">Masculino</option>
                                <option [value]="3">Prefiere No decir</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" name="fechaNacimiento" class="form-control" [(ngModel)]="alumno.fechaNacimiento" required>
                            </div>
                        </div>
                  </div>
                  
                  <!-- Paso 2: Apoderado -->
                  <div *ngIf="currentStep === 2">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="rutApoderado" class="form-label">RUT</label>
                                <input type="text" name="rutApoderado" class="form-control"  [(ngModel)]="alumno.apoderado.rut" required>
                            </div>
                            <div class="col-md-6">
                                <label for="correoApoderado" class="form-label">Correo</label>
                                <input type="email" name="correoApoderado" class="form-control"  [(ngModel)]="alumno.apoderado.usuario.email" required>
                            </div>
                        </div>
                      <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="nombreApoderado" class="form-label">Nombres</label>
                            <input type="text" name="nombreApoderado" placeholder="Ej: Marcela Paz" class="form-control" [(ngModel)]="alumno.apoderado.usuario.nombres" required> </div>
                        <div class="col-md-4">
                            <label for="apellidoPaternoApoderado" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPaternoApoderado" class="form-control" [(ngModel)]="alumno.apoderado.usuario.apellidoPaterno" required> </div>
                        <div class="col-md-4"> 
                            <label for="apellidoMaternoApoderado" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellidoMaternoApoderado" class="form-control" [(ngModel)]="alumno.apoderado.usuario.apellidoMaterno" required>
                        </div>
                       
                      </div>
                      <div class="mb-3">
                        <label for="direccionApoderado" class="form-label">Direccion</label>
                        <input type="text" name="direccionApoderado" class="form-control" [(ngModel)]="alumno.apoderado.direccion" required>
                    </div>
                      <div class="mb-3">
                          <label for="apoderadoTelefono" class="form-label">Teléfono</label>
                          <input type="text" name="apoderadoTelefono" class="form-control" placeholder="+56942009255" [(ngModel)]="alumno.apoderado.telefono" required>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Contrasena</label>
                        <input type="password" name="password" class="form-control"  [(ngModel)]="alumno.apoderado.usuario.passwordHash" required>
                    </div>
                  </div>
                  
                  <!-- Paso 3: Documentos -->
                  <div *ngIf="currentStep === 3">
                      <div class="mb-3">
                          <label for="documentoIdentidad" class="form-label">Documento de Identidad</label>
                          <input type="file" name="documentoIdentidad" class="form-control">
                      </div>
                      <div class="mb-3">
                          <label for="certificadoNacimiento" class="form-label">Certificado de Nacimiento</label>
                          <input type="file" name="certificadoNacimiento" class="form-control">
                      </div>
                  </div>
              </div>

              <!-- Footer del modal con botones de navegación -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-info" (click)="prevStep()" [disabled]="currentStep === 1">Atrás</button>
                  <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="currentStep < 3">Siguiente</button>
                  <button type="submit" class="btn btn-success" *ngIf="currentStep === 3">Guardar</button>
              </div>
          </form>
      </div>
  </div>
</div>
