
<div class="container mt-4">
    <h2 class="text-center mb-4"><i class="bi bi-clock"></i> Horario Escolar</h2>
    <div class="schedule">

        <table class="table table-bordered table-striped">
            <thead class="table-dark">
              <tr>
                <th>Hora</th>
                <th *ngFor="let dia of diasSemana">{{ dia }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let horario of horarios['Lunes']">
                <td>{{ horario.horaInicio }} - {{ horario.horaFin }}</td>
                <td  class="subject" 
                [ngStyle]="{'background-color': horario.colorAsignatura,
                'color': horario.tipo !== 'Clase' ? 'black' : 'white'}">
               {{ horario.nombreAsignatura }}</td>

    
                <td colspan="3"></td> <!-- Para los otros días -->
              </tr>
              <tr *ngFor="let horario of horarios['Martes']">
                <td>{{ horario.horaInicio }} - {{ horario.horaFin }}</td>
                <td>{{ horario.nombreAsignatura }}</td>
                
                <td colspan="3"></td>
              </tr>
              <!-- Repetir para los demás días de la semana -->
            </tbody>
          </table>
          
          <div class="container mt-4">          
            <div class="schedule">
        
                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                      <tr>
                        <th>Hora</th>
                        <th *ngFor="let dia of diasSemana">{{ dia }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let tramo of tramosCurso">
                        <td>{{ tramo.horaInicio }} - {{ tramo.horaFin }}</td>
                        <td *ngFor="let dia of diasSemana">
                      <!-- Asignaturas arrastrables -->
                      <div *ngIf="tramo.asignaturas[dia]">
                        {{ tramo.asignaturas[dia].nombre }}
                      </div>
                      <div *ngIf="!tramo.asignaturas[dia]">
                        <button class="btn btn-primary btn-sm" >Agregar Asignatura</button>
                      </div>
                    </td>
                      </tr>
                    </tbody>
                  </table>
                  <button class="btn btn-success" (click)="agregarTramo()">Agregar Tramo</button>
                  <button class="btn btn-primary" (click)="confirmarCambios()">Confirmar Cambios</button>
               

            </div>



          </div>
          
          
          
    </div>
</div>
