<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="bi bi-mortarboard-fill  me-2"> </i>  Cursos
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">

            <ul class="list-group">
              @for(nivel of niveles; track nivel){
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{nivel.descripcion}}
                    <div>
                        <button type="button" class="btn btn-info" routerLink="/curso/resumen/{{nivel.nivelID}}"><i class="bi bi-journal-text" ></i>
                            Resumen Cursos
                        </button>    
                    </div>
                </li>    
              }               
            </ul>

            <br>
            <a href="#" class="btn btn-primary w-100"
            data-bs-toggle="modal"
            data-bs-target="#agregarProfesorModal">
            <i class="bi bi-plus-circle"></i> Crear Curso
            </a>
        </div>
      </div>
    </div>
  </div>