<header id="main-header" class="py-2 bg-info text-white">
    <div class="container">
        <h1><i class="bi bi-person"></i> Editar Alumno</h1>
    </div>
</header>

<form #alumnoForm="ngForm" (ngSubmit)="guardar(alumnoForm)">
    <!-- Botones -->
    <section id="actions" class="py-4 mb-4">
        <div class="container d-flex justify-content-between">
            <a [routerLink]="['/']" class="btn btn-primary">
                <i class="bi bi-arrow-left"></i> Regresar al Inicio
            </a>
            <button type="submit" class="btn btn-success">
                <i class="bi bi-check"></i> Guardar Cambios
            </button>
   
            <button type="button" (click)="eliminar()" class="btn btn-danger">
                <i class="bi bi-trash"></i>Eliminar Alumno</button>

        </div>
    </section>

    <section id="details">
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h4>Editar Alumno</h4>
                </div>
                <div class="card-body">
                    <!-- Campo nombre -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="nombre" class="form-label me-3" style="min-width: 100px">
                            Nombre
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="nombre" name="nombre" class="form-control" 
                            required minlength="2"  [(ngModel)]="alumno.nombre" #nombre="ngModel" />                         
                            <div class="text-danger">
                                Nombre es requerido y debe tener al menos 2 caracteres
                            </div>                          
                        </div>
                    </div>
                    <!-- Campo rut -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="rut" class="form-label me-3" style="min-width: 100px">
                            Rut
                        </label>
                        <div class="col-sm-9">
                            <input type="text"  name="rut" class="form-control" 
                            required minlength="2"  [(ngModel)]="alumno.rut" #rut="ngModel"
                            />
                            <div class="text-danger">
                                rut es requerido y debe tener al menos 2 caracteres.
                            </div>
                            
                        </div>
                    </div>
                    <!-- Campo email -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="emailA" class="form-label me-3" style="min-width: 100px">
                            Correo
                        </label>
                        <div class="col-sm-9">
                            <input type="text" name="emailA" class="form-control" 
                            required minlength="2"  [(ngModel)]="alumno.email" #emailA="ngModel"
                            />
                            <div class="text-danger">
                                rut es requerido y debe tener al menos 2 caracteres.
                            </div>
                            
                        </div>
                    </div>
                    <!-- Campo fechaNacimiento -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="fechaNacimiento" class="form-label me-3" style="min-width: 100px">
                            Fecha Nacimiento
                        </label>
                        <div class="col-sm-9">
                            <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="form-control" 
                            required  [(ngModel)]="alumno.fechaNacimiento" #fechaNacimiento="ngModel"  />
                        </div>
                    </div>



                    <!-- Campo  Direccion -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="direccion" class="form-label me-3" style="min-width: 100px">
                            Direccion
                        </label>
                        <div class="col-sm-9">
                            <input type="direccion" id="direccion" name="direccion" class="form-control" 
                            required  [(ngModel)]="alumno.direccion" #direccion="ngModel"  />
                          
                        </div>
                    </div>                                      
                    <!-- Campo Genero -->
                    <div class="d-flex align-items-center mb-3">
                        <label for="genero" class="form-label me-3" style="min-width: 100px">
                            Genero
                        </label>
                        <div class="col-sm-9">
                            <input type="text" id="genero" name="genero" class="form-control" 
                            required min="0.01"
                                step="0.01"   [(ngModel)]="alumno.genero" #genero="ngModel"/>
                  
                        </div>
                        </div>
                         <!-- Campo  Telefono -->
                         <div class="d-flex align-items-center mb-3">
                            <label for="telefono" class="form-label me-3" style="min-width: 100px">
                                Telefono
                            </label>
                            <div class="col-sm-9">
                                <input type="text"  name="telefono" class="form-control" 
                                required  [(ngModel)]="alumno.telefono" #telefono="ngModel"  />
                              
                            </div>
                        </div>   

                </div>
            </div>
        </div>
    </section>
</form>