    <div class="row g-4">
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm p-3 text-center">
                <i class="bi bi-people fs-1 text-primary"></i>
                <h5>Profesores</h5>
                <p>20 registrados</p>
                <button class="btn btn-primary" [routerLink]="['/profesores']">Ver más</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm p-3 text-center">
                <i class="bi bi-mortarboard fs-1 text-success"></i>
                <h5>Alumnos</h5>
                <p>1200 inscritos</p>
                <button class="btn btn-primary"  [routerLink]="['/alumnos']">Ver más</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm p-3 text-center">
                <i class="bi bi-book fs-1 text-warning"></i>
                <h5>Cursos</h5>
                <p>50 activos</p>
                <button class="btn btn-primary"  [routerLink]="['/cursos']">Ver más</button>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card shadow-sm p-3 text-center">
                <i class="bi bi-journal fs-1 text-danger"></i>
                <h5>Asignaturas</h5>
                <p>80 disponibles</p>
                <button class="btn btn-primary"  [routerLink]="['/asignaturas']">Ver más</button>
            </div>
        </div>
    </div>
