<table class="table table-sm">
    <thead>
      <tr>
        <th scope="col" class="small">#</th>
        <th scope="col" class="small">Nombre</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inscrito of inscritos  | paginate: { itemsPerPage: 15, currentPage: page }; let i = index; trackBy: trackByFn">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{inscrito.nombres}} {{inscrito.apellidoPaterno}} {{inscrito.apellidoMaterno}}</td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="page = $event"></pagination-controls>
