* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
}

.sidebar {
  transition: transform 0.3s ease;
  width: 250px;
  background-color: #b98ea9;
  color: white;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 10px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.content {
  margin-left: 250px;
  padding: 20px;
  flex: 1;
}

.navbar {
  background-color: #b98ea9;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-btn {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.main-content {
  padding: 20px;
}


.sidebar.hidden {
  transform: translateX(-100%); /* Desplazar la barra lateral fuera de la pantalla */
}

.sidebar.active {
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    width: 0;
    position: absolute;
    transition: 0.3s;
  }
  .content {
    margin-left: 0;
  }
  .sidebar.active {
    width: 250px;
  }
}
