 <!-- Professors Panel -->
 <div class="accordion" id="accordionProfesores">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-chalkboard-teacher me-2"></i>Profesores
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionProfesores">
        <div class="accordion-body">


            <ul class="list-group">
                <li *ngFor="let profesor of profesores.slice((pageProfesores-1) * itemsPerPageProfesores, pageProfesores * itemsPerPageProfesores)" 
                class="list-group-item d-flex justify-content-between align-items-center">
                  {{ profesor.usuario.nombres }} {{ profesor.usuario.apellidoPaterno }} - {{ profesor.usuario.email }}
                  <div>
                    <button class="btn btn-outline-primary btn-sm me-2" [routerLink]="['/profesor/ver', profesor.idProfesor]">
                      <i class="fas fa-eye"></i> 
                    </button>
                    <button class="btn btn-outline-secondary btn-sm" [routerLink]="['/profesor/editar', profesor.idProfesor]">
                      <i class="fas fa-edit"></i> 
                    </button>
                  </div>
                </li>
            </ul>
              
              <div class="d-flex justify-content-center align-items-center mt-3"> 
                    <button (click)="prevPageProfesores()" class="btn btn-outline-primary me-3 rounded-pill" [disabled]="pageProfesores === 1">
                    <i class="fas fa-chevron-left me-1"></i> Anterior
                    </button>
                    <span class="text-muted">Página {{ pageProfesores }} de {{ totalPages() }}</span>
                    <button (click)="nextPageProfesores()" class="btn btn-outline-primary ms-3 rounded-pill" [disabled]="pageProfesores>= totalPages()">
                    Siguiente <i class="fas fa-chevron-right ms-1"></i>
                    </button>
                </div>
              

            <br>
            <a href="#" class="btn btn-primary w-100"
            data-bs-toggle="modal"
            data-bs-target="#agregarProfesorModal">
            <i class="bi bi-plus-circle"></i> Agregar Profesor
            </a>
        </div>
      </div>
    </div>
</div>
    


<!-- Modal para Agregar Profesor con Stepper -->
<div class="modal fade" id="agregarProfesorModal" tabindex="-1" aria-labelledby="agregarProfesorModalLabel" aria-hidden="true" [attr.inert]="isModalOpen ? true : null">


  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <!-- Encabezado del modal -->
          <div class="modal-header bg-info text-white">
              <h5 class="modal-title">Agregar Profesor</h5>
              <button #botonCerrar  type="button" class="btn-close" data-bs-dismiss="modal"  aria-label="Cerrar" aria-label="Close" (click)="cerrarModal()"></button>
       

            </div>

          <!-- Formulario con Stepper -->
          <form #profesorForm="ngForm" (ngSubmit)="agregar(profesorForm)">
              <div class="modal-body">
                  <!-- Stepper -->
                  <ul class="nav nav-pills mb-3">
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 1" (click)="setStep(1)">Datos Personales</button>
                      </li>
                      <li class="nav-item">
                          <button type="button" class="nav-link" [class.active]="currentStep === 2" (click)="setStep(2)" >Informacion Laboral</button>
                      </li>
                      <li class="nav-item">
                        <button type="button" class="nav-link" [class.active]="currentStep === 3" (click)="setStep(2)" >Datos Cuenta</button>
                    </li>

                  </ul>
                  
                  <!-- Paso 1: Datos Personales -->
                  <div *ngIf="currentStep === 1">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="rut" class="form-label">Rut</label>
                                <input type="text" name="rut" class="form-control" [(ngModel)]="profesor.rut" #rut="ngModel" required>
                            </div>
                  
                            <div class="col-md-4">
                              <label for="nacionalidad" class="form-label">Nacionalidad</label>
                              <select class="form-select" name="nacionalidad" [(ngModel)]="profesor.nacionalidad" #nacionalidad="ngModel" >
                                @for(nacionalidad of nacionalidades; track nacionalidad){
                                <option [value]="nacionalidad.id" >{{nacionalidad.nombre}}</option>
                              }
                              </select>
                          </div>
                      
                        </div>
            
                        <div class="row mb-3">
                          <div class="col-md-4">
                            <label for="nombres" class="form-label">Nombres</label>
                            <input type="text" name="nombres" class="form-control" [(ngModel)]="profesor.usuario.nombres" #nombres="ngModel"  required>
                            </div>
                            <div class="col-md-4">
                            <label for="apellidoPaterno" class="form-label">Apellido Paterno</label>
                            <input type="text" name="apellidoPaterno" class="form-control" [(ngModel)]="profesor.usuario.apellidoPaterno" #apellidoPaterno="ngModel" required>
                            </div>
                        
                            <div class="col-md-4">
                            <label for="apellidoMaterno" class="form-label">Apellido Materno</label>
                            <input type="text" name="apellidoMaterno" class="form-control" [(ngModel)]="profesor.usuario.apellidoMaterno" #apellidoMaterno="ngModel" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                            <label for="nombres" class="form-label">Genero</label>

                            <select name="genero" class="form-select"  [(ngModel)]="profesor.genero" #genero="ngModel"  >
                                <option [value]="1">Femenino</option>
                                <option [value]="2">Masculino</option>
                                <option [value]="3">Prefiere No decir</option>
                            </select>
                            </div>
                            <div class="col-md-6">
                                <label for="fechaNacimiento" class="form-label">Fecha de Nacimiento</label>
                                <input type="date" name="fechaNacimiento" class="form-control" [(ngModel)]="profesor.fechaNacimiento" #fechaNacimiento="ngModel" required>
                            </div>
                        </div>
                        <div class="mb-3">
                          <label for="direccion" class="form-label">Direccion</label>
                          <input type="text" name="direccion" class="form-control"  required>
                      </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono</label>
                            <input type="text" name="telefono" class="form-control" placeholder="+56942009255" [(ngModel)]="profesor.telefono" #telefono="ngModel"  required>
                        </div>
                  </div>
                  
           
                  <!-- Paso 2: InformacionLaboral -->
                  <div *ngIf="currentStep === 2">
                    <div class="row mb-3">
                        <div class="col-md-6">
                          <label for="tipoContrato" class="form-label">Tipo contrato</label>
                          <select class="form-select" name="tipoContrato" [(ngModel)]="profesor.tipoContrato" #tipoContrato="ngModel" >
                            @for(contato of contratos; track contratos){
                            <option [value]="contato.id" >{{contato.nombre}}</option>
                          }
                          </select>
                        </div>
                        <div class="col-md-6">
                            <label for="tituloProfesional" class="form-label">Titulo Profesional</label>
                            <input type="email" name="tituloProfesional" class="form-control" [(ngModel)]="profesor.tituloProfesional" #tituloProfesional="ngModel" required>
                        </div>
                    </div>
      
       
        
              </div>

                  <!-- Paso 3: Datos Cuenta -->
                  <div *ngIf="currentStep === 3">
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="email" class="form-label">Correo</label>
                                <input type="email" name="emaul" class="form-control" [(ngModel)]="profesor.usuario.email" #email="ngModel" required>
                            </div>
                            <div class="col-md-6">
                                <label for="password" class="form-label">Contrasena</label>
                                <input type="password" name="password" class="form-control" [(ngModel)]="profesor.usuario.passwordHash" #passwordHash="ngModel" required>
                            </div>
                        </div>
        
                  </div>
                  

              </div>

              <!-- Footer del modal con botones de navegación -->
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-info" (click)="prevStep()" [disabled]="currentStep === 1">Atrás</button>
                  <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="currentStep < 3">Siguiente</button>
                  <button type="submit" class="btn btn-success" *ngIf="currentStep === 3">Guardar</button>
              </div>
          </form>
      </div>
  </div>
</div>
