<div class="postulantes">
    <h5>Postulantes</h5>
    <ul class="list-group">
      @for(postulante of postulantes; track postulante) {
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="w-50">{{ postulante.nombres }} {{ postulante.apellidoPaterno }} {{ postulante.apellidoMaterno }}</span>
          <span class="badge w-25 text-center"
            [ngClass]="{
              'bg-success': postulante.matricula.estadoID === 4002,
              'bg-danger': postulante.matricula.estadoID === 4001
            }">
            <i class="bi"
              [ngClass]="{
                'bi-check-circle-fill': postulante.matricula.estadoID === 4002,
                'bi-exclamation-triangle-fill': postulante.matricula.estadoID === 4001
              }">
            </i>
            {{ postulante.matricula.estadoMatricula }}
          </span>
          <button class="btn btn-primary" (click)="openModalInscripcion(postulante)"> <i class="bi bi-plus-circle"  ></i> Inscribir</button>

        </li>
      }
    </ul>
  </div>


  <!-- Modal -->
  <div *ngIf="isModalOpen" class="modal fade show" id="inscripcionModal" tabindex="-1" aria-labelledby="inscripcionModal" aria-hidden="true" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmación de Inscripción</h5>
          <button type="button" class="btn-close" (click)="closeModalInscripcion()" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <div class="alert alert-warning" role="alert">
                Se está inscribiendo al alumno en el curso. Recibirá un correo de confirmación con los horarios y más detalles.
              </div>
            <div class="alert alert-info" role="alert">
                <i class="bi bi-person-fill"></i> <strong>{{ selectedPostulante.nombres }} {{ selectedPostulante.apellidoPaterno }} {{ selectedPostulante.apellidoMaterno }}</strong><br>
                <i class="bi bi-bookmark-fill"></i> <strong>Curso:</strong> {{ selectedPostulante.curso.nombre }}
              </div>
      
              <div class="mb-3">
                <p><i class="bi bi-calendar-check"></i> <strong>Detalles del Curso:</strong></p>
                <ul class="list-unstyled">
                  <li><i class="bi bi-clock-fill"></i> Horario: {{ selectedPostulante.curso.horario }}</li>
                  <li><i class="bi bi-person-lines-fill"></i> Profesor: {{ selectedPostulante.curso.profesor }}</li>
                </ul>
              </div>
    
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModalInscripcion()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="confirmarInscripcion()">Confirmar Inscripción</button>
        </div>
      </div>
    </div>
  </div>
  